.form-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

input {
    width: 40vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

input:focus {
    border: 1px solid rgb(0, 0, 255);
}